<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="649e1b59-6438-4f71-85d0-49af8614e8a1" wadlVersion="http://wadl.dev.java.net/2009/02" name="REST Service 1" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="649e1b59-6438-4f71-85d0-49af8614e8a1fileName">REST-Service-1</con:setting>
  </con:settings>
  <con:definitionCache type="TEXT" rootPart=""/>
  <con:endpoints/>
  <con:environmentSpec>
    <con:entry environmentId="3c962470-e4f3-4d56-b355-cfa3a8a33131">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:interface>
