<?xml version="1.0" encoding="UTF-8"?>
<con:restMockService xmlns:con="http://eviware.com/soapui/config" id="6beda041-42ef-4403-b0d4-1b6e6b70a861" port="8088" path="/" host="localhost" name="REST Virtual Service 1">
  <con:settings id="556743fe-079c-4703-a941-e8160622b627">
    <con:setting id="6beda041-42ef-4403-b0d4-1b6e6b70a861fileName">REST-Virtual-Service-1</con:setting>
  </con:settings>
  <con:properties/>
  <con:constraints>
    <con:congestion>0</con:congestion>
    <con:inputBandwidth>-1</con:inputBandwidth>
    <con:outputBandwidth>-1</con:outputBandwidth>
    <con:maxThreadPoolCapacity>20</con:maxThreadPoolCapacity>
    <con:coreThreadPoolCapacity>5</con:coreThreadPoolCapacity>
    <con:virtError>
      <con:start>0</con:start>
      <con:endless>true</con:endless>
    </con:virtError>
  </con:constraints>
  <con:headerValidator type="NONE"/>
</con:restMockService>
